$checkbox-size: 25px;

.form-check {
    .checkbox + label:before {
        margin-right: $xs-space;
    }

    label {
        color: #fff;
    }
}

.checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        display: inline-block;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        pointer-events: initial;
        cursor: pointer;
    }

    // Checkbox
    & + label:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: $checkbox-size;
        height: $checkbox-size;
        background: $bg-color-4;
        border-radius: $border-radius;
    }

    &:hover + label:before {
        background: darken($bg-color-4, 5%);
    }

    &:checked + label:before {
        background: #1cbd9c;
    }

    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

    &:disabled + label:before {
        background: #ddd;
    }

    &:checked + label:after {
        @extend .far;
        content: $fa-check;
        position: absolute;
        top: 50%;
        left: $checkbox-size / 2;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    &--remove:checked + label:before {
        background-color: $danger-color;
    }

    &--remove:checked + label:after {
        content: $fa-times;
    }
}
