/* Name: Forms

Contents:
	01. Forms
	02. Inputs

Variables
$file__element--property_modifier
============================================================================ */
$input-label-offset: $input-padding-y * 2;


/*  ========================================================================
	01. Inputs
	======================================================================== */

.form-group {
    margin-bottom: $grid-gutter-width;
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $base-font-color;
    background-color: transparent;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid $text-color-muted;

    &:focus {
        border-color: $brand-secondary;
        outline: none;
    }

    &:focus ~ label,
    &.valid ~ label,
    &.empty:focus ~ label,
    &#force-valid ~ label {
        top: -($input-label-offset / 0.9);
        font-size: $font-size-sm;
    }

    &.empty ~ label {
        font-size: $font-size-base;
        top: $input-padding-y;
    }

    &:focus ~ label {
        color: $brand-secondary;
    }

    &::placeholder {
        color: $text-color-muted;
    }
}

label {
    display: block;
    line-height: 1;
    color: $text-color-muted;
    font-size: $font-size-base;
    position: absolute;
    pointer-events: none;
    left: $input-padding-x;
    top: $input-padding-y;
    transition: 0.2s ease all;
}

textarea {
    resize: vertical;
}

select {
    outline: none;
}

.select--clear {
    background: transparent;
    border: none;
    font-family: $alt-font-face;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    outline: none;
    option {
        background-color: #fff;
        color: $black-color;
    }
}

.select-container {
    display: block;
    position: relative;

    &:after {
        @extend .fa;
        content: $fa-caret-down;
        color: $text-color-secondary;
        position: absolute;
        right: $input-padding-x;
        top: 50%;
        transform: translateY(-50%);
    }

    select.form-control {
        padding-right: $grid-gutter-width;
        margin-top: 0;
        -webkit-appearance: none;

        &:focus::-ms-value {
            color: $input-color;
            background-color: $input-bg;
        }

        option {
            color: $black-color;
        }
    }
}

.select-dropdown {
    @include material;
    width: 100%;
    max-height: 155px;
    background-color: $bg-color-1;
    border: 1px solid $divider-color;
    border-radius: $input-border-radius;
    position: absolute;
    top: calc(100% + #{$xxxs-space});
    z-index: $zindex-dropdown;
    line-height: $input-line-height;
    overflow-y: auto;

    &__row {
        padding: $input-padding-y $input-padding-x;
        cursor: pointer;
        &:hover {
            background-color: $brand-primary;
            color: #fff;
        }
        &--header {
            border-bottom: 1px solid $divider-color;
            background-color: $text-color-muted;
            color: $brand-primary;
            font-weight: bold;
            &:hover {
                background-color: $text-color-muted;
                color: $brand-primary;
            }
        }
    }
}

.required {
    &:after {
        content: "*";
        color: red;
    }
}


$checkbox-size: 25px;

.form-check {
    .checkbox + label:before {
        margin-right: $xs-space;
    }

    label {
        color: #fff;
    }
}

.checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        display: inline-block;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        pointer-events: initial;
        cursor: pointer;
    }

    // Checkbox
    & + label:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: $checkbox-size;
        height: $checkbox-size;
        background: $bg-color-4;
        border-radius: $border-radius;
    }

    &:hover + label:before {
        background: darken($bg-color-4, 5%);
    }

    &:checked + label:before {
        background: #1cbd9c;
    }

    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

    &:disabled + label:before {
        background: #ddd;
    }

    &:checked + label:after {
        @extend .far;
        content: $fa-check;
        position: absolute;
        top: 50%; left: $checkbox-size / 2;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    &--remove:checked + label:before {
        background-color: $danger-color;
    }

    &--remove:checked + label:after {
        content: $fa-times;
    }
}


.search-input {
    position: relative;

    &__list {
        @extend %material;
        width: 100%;
        max-height: 150px;
        border: 1px solid $divider-color;
        position: absolute;
        top: calc(100% - 1px);
        z-index: $zindex-popover;
        overflow-y: auto;
    }

    &__item {
        padding: $xxs-space $xs-space;
        background-color: #fff;
        cursor: pointer;
        &:hover {
            background-color: $link-color;
            color: #fff;
        }
    }
}







/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}


.tooltip-devcoins {
    position: relative;
    display: inline-block;
    height: 40px;
    padding-right: $xs-space;
    background-color: $bg-color-1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: top;
    margin-left: 35px;

    &:before {
        content: "";
        position: absolute;
        width: 0; height: 0;
        border-style: solid;
        border-width: 20px 20px 20px 0;
        border-color: transparent $bg-color-1 transparent transparent;
        left: -20px;
    }

    &__title,
    &__img {
        @extend %align-middle;
    }

    span {
        line-height: 40px;
        margin-left: $xs-space;
        color: #fff;
    }

    img {
        width: 30px;
        padding: $xxs-space;
    }
}
