/* Name:            Grid System

Contents:
01.  Rows
02.  Columns
03.  Generate responsive columns




/* ==========================================================================
01. Containers
========================================================================== */

.container {
    @include make-container();
    @include make-container-max-widths();
}

.container-fluid {
    @include make-container();
}

.no-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* ==========================================================================
02. Rows
========================================================================== */

.row {
    @include make-row();

    &-lift {
        margin-top: -($global__ribbon / 1.3);
    }

    .form-group > label {
        margin-left: $grid-gutter-part;
    }
}

.row-normaled {
    @include normalize-row();
}


/* ==========================================================================
03. Columns
========================================================================== */

@include make-grid-columns();












