/* Name:			Typography

Contents:
	01. Typeface import
	02. Heading
	03. Display
	04. Paragraph
	05. Links
	06. Lists

/*  ========================================================================
01. Typeface import
======================================================================== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,500,700);

/*  ========================================================================
02. Heading
======================================================================== */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	line-height: normal;
	color: $headings-color;
    word-wrap: break-word;
}

h1, .h1 {
	text-transform: $h1-transform;
	font-weight: $h1-font-weight;
	font-family: $h1-font-family;
	font-size: $h1-font-size;
}

h2, .h2 {
	text-transform: $h2-transform;
	font-weight: $h2-font-weight;
	font-family: $h2-font-family;
	font-size: $h2-font-size;
}

h3, .h3 {
	font-weight: $h3-font-weight;
	font-size: $h3-font-size;
}

h4, .h4 {
	font-weight: $h4-font-weight;
	font-size: $h4-font-size;
}

h5, .h5 {
	font-weight: $h5-font-weight;
	font-size: $h5-font-size;
}

h6, .h6 {
	font-weight: $h6-font-weight;
	font-size: $h6-font-size;
}


/* =========================================================================
03. Display
========================================================================== */

.display-1 {
    font-size: $display1-size;
    font-weight: $display1-weight;
}
.display-2 {
    font-size: $display2-size;
    font-weight: $display2-weight;
}
.display-3 {
    font-size: $display3-size;
    font-weight: $display3-weight;
}
.display-4 {
    font-size: $display4-size;
    font-weight: $display4-weight;
}
.display-5 {
    font-size: $display5-size;
    font-weight: $display5-weight;
}
.display-6 {
    font-size: $display6-size;
    font-weight: $display6-weight;
}


/* ==========================================================================
04. Paragraph
========================================================================== */

p, .p {
    color: $p-color;
    line-height: $p-line-height;
    font-size: $p-font-size;
    word-wrap: break-word;
}

.lead {
    font-size: $p-lead-font-size;
}

/* ==========================================================================
05. Link
========================================================================== */

a {
    color: $link-color;
    background: transparent;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        outline: 0;
    }
}

.underline-hover {
    &:hover {
        text-decoration: underline;
    }
}


/* ==========================================================================
06. Span
========================================================================== */

span {

}



/* ==========================================================================
07. List
========================================================================== */

%list-unstyled {
    padding-left: 0;
    list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
    @extend %list-unstyled;
    font-size: 0;

    li {
        display: inline-block;
        font-size: $font-size-base;
    }

}
.list-inline-item {
    display: inline-block;

    &:not(:last-child) {
        //margin-right: $list-inline-padding;
    }
}



/* ==========================================================================
08. Divider
========================================================================== */

hr {
    margin-top: $s-space;
    margin-bottom: $s-space;
    border: 0;
    border-top: 1px solid gray;
}

.divider {

}


/* ==========================================================================
09. Misc
========================================================================== */

abbr {

}

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}


.text-underline {
    display: inline-block;
    border-bottom: 2px solid $silver-color;
}

.color-primary {
    color: $brand-primary !important;
}

.color-base {
    color: $base-font-color !important;
}

.color-secondary {
    color: $text-color-secondary !important;
}

.color-muted {
    color: $text-color-muted !important;
}

.color-white {
    color: #fff !important;
}

.color-success {
    color: $success-color !important;
}
.color-warning {
    color: $warning-color !important;
}
.color-danger {
    color: $danger-color !important;
}

.color-devbits {
    color: $devbit-color !important;
}

.color-bonus {
    color: $bonus-color !important;
}

.color-html {
    color: $html-color !important;
}
.color-css {
    color: $css-color !important;
}
.color-js {
    color: $js-color !important;
}


.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.font-size-sm {
    font-size: $font-size-sm;
}









/* Name:			Icons

Contents:
01. Icon import
02. Icon styles
03. Generate icon styles
04. Social Icons

Variables
$file__element--property_modifier
============================================================================ */

$icon--font-face 									: 'DevWars Brand Icons';
$icon--font-size 									: 16px;

$icon__facebook										: '\e000';
$icon__twitter										: '\e001';
$icon__twitch										: '\e002';
$icon__google										: '\e017';
$icon__cloud9										: '\e018';
$icon__slack										: '\e003';
$icon__github										: '\e004';
$icon__youtube										: '\e005';
$icon__linkedin										: '\e006';
$icon__reddit										: '\e015';
$icon__codepen										: '\e007';
$icon__website										: '\e016';
$icon__email										: '\e008';
$icon__podcast										: '\e009';
$icon__search										: '\e00a';
$icon__devbit										: '\e019';
$icon__user											: '\e00b';
$icon__team											: '\e00c';
$icon__games										: '\e00d';
$icon__tutorial										: '\e00e';
$icon__blog											: '\e00f';
$icon__chevron										: '\e01a';
$icon__check										: '\e010';
$icon__cross										: '\e011';
$icon__settings										: '\e012';
$icon__record										: '\e013';
$icon__comment										: '\e014';

$icon--set: (
  facebook $icon__facebook,
  twitter $icon__twitter,
  twitch $icon__twitch,
  google $icon__google,
  cloud9 $icon__cloud9,
  slack $icon__slack,
  github $icon__github,
  youtube $icon__youtube,
  linkedin $icon__linkedin,
  reddit $icon__reddit,
  codepen $icon__codepen,
  website $icon__website,
  email $icon__email,
  podcast $icon__podcast,
  search $icon__search,
  devbit $icon__devbit,
  user $icon__user,
  team $icon__team,
  games $icon__games,
  tutorial $icon__tutorial,
  blog $icon__blog,
  chevron $icon__chevron,
  check $icon__check,
  cross $icon__cross,
  settings $icon__settings,
  record $icon__record,
  comment $icon__comment
);

$social--set:  (
  facebook $facebook-color,
  twitter $twitter-color,
  google $google-color,
  youtube $youtube-color,
  reddit $reddit-color,
  twitch $twitch-color,
  slack $slack-color,
  cloud9 $cloud9-color,
  github $github-color,
  linkedin $linkedin-color,
  codepen $codepen-color,
  website $website-color,
  email $email-color
);

/*  ========================================================================
01. Icon import
======================================================================== */

@charset "UTF-8";

@font-face {
  font-family: "DevWars Brand Icons";
  src:url("/assets/icon/devwars-icons.eot");
  src:url("/assets/icon/devwars-icons.eot?#iefix") format("embedded-opentype"),
    url("/assets/icon/devwars-icons.woff") format("woff"),
    url("/assets/icon/devwars-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  ========================================================================
01. Icon styles
======================================================================== */

.icon {
  display: inline-block;
  speak: none;
  vertical-align: middle;
  line-height: normal;
  font-size: $icon--font-size;

  &:before {
    display: inline-block;
    speak: none;
    vertical-align: middle;
    text-transform: none;
    line-height: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $icon--font-face;
  }
}

/*  ========================================================================
03. Generate icon styles
======================================================================== */

@each $icon in $icon--set {

  .icon-#{nth($icon, 1)} {

    &:before {
      content: nth($icon, 2);
    }
  }
}

/*  ========================================================================
04. Social icon styles
======================================================================== */

.social-icons {

  ul {
    list-style-type: none;
    font-size: 0;
  }

  li {
    display: inline-block;
    margin: 0 $xxs-space;
    line-height: 26px;
  }

  @each $social-type in $social--set {

    .#{nth($social-type, 1)} {

      a {
        background-color: #{nth($social-type, 2)};

        &:hover {
          background-color: darken(nth($social-type, 2), 10%);
        }
      }
    }
  }

  a {
    display: block;
    text-align: center;
    width: 26px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.25s;
  }

  .icon {
    vertical-align: top;

    &:before {
      vertical-align: top;
      line-height: 26px;
    }
  }

  &--inverted {

    @each $social-type in $social--set {

      .#{nth($social-type, 1)} {

        a {
          color: #{nth($social-type, 2)};
          background-color: transparent;

          &:hover {
            color: darken(nth($social-type, 2), 10%);
            background-color: transparent;
          }
        }
      }
    }
  }
}



/* ==========================================================================
09. FontAwesome
========================================================================== */

@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/fonts/fontawesome-webfont.eot?v=#{$fa-version}');
    src: url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
        url('/assets/fonts/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
        url('/assets/fonts/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
        url('/assets/fonts/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
        url('/assets/fonts/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal #{$font-size-base} FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.material-icon {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}



