/* Name:			Animations

Contents:
	01. Pulse
	02.

Variables
$file__element--property_modifier
============================================================================ */



/*  ========================================================================
	01. Pulse
	======================================================================== */

@keyframes pulse {

	to {
		box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba($red-color,  0);
	}
}

/*  ========================================================================
	02.
	======================================================================== */
