/* Name: Card

Contents:
	01. Card
		01.2 Rank
		01.3 Team
		01.4 Accolades / Friends
		01.5 Scores
		01.6 Social
		01.7 Activity log

Variables
$file__element--property_modifier
============================================================================ */



/*  ========================================================================
	01. Card
	======================================================================== */

.card {
	@extend %material;
	display: block;
	margin-bottom: 20px;
	border-top: $border-size-sm solid $brand-secondary;
	background-color: $bg-color-1;

	a {
		text-decoration: none;
	}

	&__inner {
		padding: 15px 15px 30px;
	}

	&__title {
		padding: 0 0 15px;
        font-size: $h4-font-size;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
	}

	&__image {
		display: block;
		margin: 0 auto 15px;
		max-width: 100px;
	}

	&-plain {
		border-top: none;
    }

    &-bezeless {
        padding: 0 !important;
    }
}
