/* Name:			List items

Contents:
	01. List items

Variables
$file__element--property_modifier
============================================================================ */

$list-item-spacing 								: $s-space;

/*  ========================================================================
	01. List items
	======================================================================== */

.list-item {
	position: relative;
	display: block;
	margin-bottom: $list-item-spacing;
	min-height: $list-item-spacing;
	font-size: 100px;

	a {
		color: #fff;
		text-decoration: none;
	}

	img {
		display: none;
		width: 100%;
	}

	&__title,
	&__read-more {
		display: block;
		text-shadow: 1px 1px #000;
		font-weight: bold;
		font-family: $alt-font-face;

	}

	&__title {
		line-height: 1.4;
		font-size: (16em / 100);
	}

	&__read-more {
		text-align: right;
		text-transform: uppercase;
		font-size: 16px;
	}
}

@include breakpoint(xs-only) {

	.list-item {
		padding: $list-item-spacing $list-item-spacing 0;
		background: $brand-primary;

		&__read-more {
			padding: $list-item-spacing 0;
		}
	}
}

@include breakpoint(sm) {

	.list-item {
		font-size: 125px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.8;
			background: url('~/assets/img/tech.jpg');
			background-size: 100%;
			background-position: 50% 50%;
			transition: all .4s;
		}

		img {
			display: block;
		}

		&__title,
		&__read-more {
			position: absolute;
			z-index: 2;
			right: 0;
			bottom: 0;
			left: 0;
			padding: $m-space;
		}

		&__title {
			top: 0;
		}

		a {

			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba($black-color, 0.4);
				transition: all 0.4s;
			}
		}
	}
}

@include breakpoint(md) {

	.list-item {
		overflow: hidden;
		font-size: 105px;

		&--featured {
			font-size: 180px;
		}

		&__read-more {
			padding-bottom: $s-space;
		}

		&:hover {

			&:before {
				background-size: 110%;
			}

			a:before {
				background: rgba($black-color, 0.2);
			}
		}
	}
}

@include breakpoint(lg) {

	.list-item {
		font-size: 131px;

		&--featured {
			font-size: 219px;

			.list-item__read-more {
				font-size: 18px;
			}
		}

		&__read-more {
			padding: $sm-space $m-space;
		}
	}
}
