.v--modal {
    &-box {
        height: auto !important;
        padding: $grid-gutter-width !important;
        background-color: $bg-color-3 !important;
        animation-duration: 250ms !important;
    }

    &-overlay {
        background-color: rgba(#000, 0.8) !important;
    }

    h1 {
        margin-bottom: $grid-gutter-part;
    }
}

.modal {
    &__actions {
        margin-top: $m-space;
        text-align: right;

        .Button:not(:last-child) {
            margin-right: $grid-gutter-part;
        }
    }
}
