.nav-tabs {
    font-size: 0;

    &__item {
        display: inline-block;
        vertical-align: bottom;
        padding: $xs-space $s-space;
        border-width: $border-size-sm;
        background-color: darken($bg-color-2, 7%);
        font-size: $font-size-base;
        color: $text-color-muted;

        &:not(:last-child) {
            margin-right: 1px;
        }

        &.active {
            border-top-style: solid;
            border-color: $brand-secondary;
            background-color: $bg-color-2;
            color: #fff;
        }
    }

    &-fluid {
        display: flex;

        .nav-tabs__item {
            flex: 1;
        }
    }
}
