/* Name:			Tooltips

Contents:
	01. Standard tooltip

Variables
$file__element--property_modifier
============================================================================ */

$tooltip--padding									: 10px;
$tooltip--width										: 80%;
$tooltip--font-size									: 12px;
$tooltip--accent									: $brand-primary;
$tooltip--background								: $bg-color-1;

/*  ========================================================================
	01. Standard tooltip
	======================================================================== */

.tooltip {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%,50%);
	width: $tooltip--width;
	padding: $tooltip--padding;
	font-size: $tooltip--font-size;
	background: $tooltip--background;
	border-bottom: 3px solid $tooltip--accent;
	opacity: 0;
	transition: all .3s;

	&:before {
		@include triangle(down, 10px, $tooltip--accent);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}