/* Name: Docs

Contents:
	01. Doc Layout


/*  ========================================================================
01. Labels
========================================================================= */
.label {
    display: inline-block;
    padding: 0.3em 0.6em;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

    & + & {
        margin-left: $xxs-space;
    }
}

.label-sm {
    font-size: $font-size-xs;

    & + & {
        margin-left: $xxxs-space;
    }
}


/*  ========================================================================
01. Labels
========================================================================= */

@mixin label-variant($bg) {
    background-color: $bg;
    color: #fff;

    @if ($bg == "#fff") {
        color: #111;
    }
}

@mixin label-outline-variant($bg) {
    border: 1px solid $bg;
    background-color: transparent;
    color: $bg;
}

/*  ========================================================================
01. Alternate Labels
========================================================================= */

.label-primary {
    @include label-variant($brand-primary);
}
.label-secondary {
    @include label-variant($brand-secondary);
}
.label-info {
    @include label-variant($info-color);
}
.label-success {
    @include label-variant($success-color);
}
.label-warning {
    @include label-variant($warning-color);
}
.label-danger {
    @include label-variant($danger-color);
}
.label-white {
    @include label-variant(#fff);
}
.label-black {
    @include label-variant(#000);
}
.label-gray {
    @include label-variant(#ccc);
}
.label-html {
    @include label-variant($html-color);
}
.label-css {
    @include label-variant($css-color);
}
.label-js {
    @include label-variant($js-color);
}

/*  ========================================================================
01. Outline Variants
========================================================================= */
.label-outline-primary {
    @include label-outline-variant($brand-primary);
}
.label-outline-secondary {
    @include label-outline-variant($brand-secondary);
}
.label-outline-info {
    @include label-outline-variant($info-color);
}
.label-outline-success {
    @include label-outline-variant($success-color);
}
.label-outline-warning {
    @include label-outline-variant($warning-color);
}
.label-outline-danger {
    @include label-outline-variant($danger-color);
}
.label-outline-white {
    @include label-outline-variant(#fff);
}
.label-outline-black {
    @include label-outline-variant(#000);
}
.label-outline-gray {
    @include label-outline-variant(#ccc);
}
.label-outline-html {
    @include label-outline-variant($html-color);
}
.label-outline-css {
    @include label-outline-variant($css-color);
}
.label-outline-js {
    @include label-outline-variant($js-color);
}
