/* Name: Auth

Contents:
	01. Pulse
	02.

Variables
$file__element--property_modifier
============================================================================ */


/*  =======================================================================
01. Auth Page
======================================================================== */
.pg-auth {
    padding-top: $l-space;
}

/*  =======================================================================
02. Auth Form
======================================================================== */

.auth-form {
    max-width: 400px;
    border-width: $border-size;
    border-style: solid;
    border-image:
        linear-gradient(
            110deg,
            $brand-primary 0%,
            $brand-primary 47%,
            $bg-color-4 47%,
            $bg-color-4 53%,
            $brand-secondary 53%,
            $brand-secondary 100%
            ) 1;
    padding: $m-space $ms-space $ms-space;
    margin: 0 auto;
    text-align: center;

    &__title {
        margin-bottom: $m-space;
        font-size: $h2-font-size;
    }

    &__desc {
        margin-top: -$s-space;
        margin-bottom: $m-space;
        color: $text-color-secondary;
    }

    &__actions {
        margin-top: $ms-space;
    }

    &__forgot {
        display: block;
        margin-top: $s-space;
        color: $text-color-muted;

        &:hover {
            color: $text-color-secondary;
        }
    }

    .btn + .btn {
        margin-top: $grid-gutter-part;
    }
}
