/*  ========================================================================
03. Badges
========================================================================= */

.badge-card {
    border-top: $border-size solid $divider-color;
    padding: $xs-space $grid-gutter-part $grid-gutter-part;
    margin-bottom: $grid-gutter-width;
    background-color: $bg-color-3;
    text-align: center;
    opacity: 0.5;

    &__img {
        display: block;
        height: 100%;
        width: auto;
        max-height: 140px;
        margin: 0 auto;
    }

    &__name {
        padding: $s-space 0 $s-space;
        font-size: $h4-font-size;
    }

    &__meta {
        @extend %flex-justify;
        margin-bottom: $xs-space;
    }

    &__global {
        color: $text-color-muted;
        .fa { padding-right: 5px; }
    }

    &__tier {
        border: 1px solid;
        padding: 0 $xxs-space;
        font-size: $font-size-xs;
    }

    .progress {
        max-width: 80%;
        margin: 0 auto $xs-space;

        &__bar { background-color: $brand-secondary; }
    }

    &.complete {
        background-color: $bg-color-2;
        opacity: 1;
    }

    @mixin badge-variant($rank, $color) {
        &.#{$rank} { border-color: $color; }
        &.#{$rank} &__tier { color: $color; }
        //&.#{$rank} .progress__bar { background-color: $color; }
    }

    @include badge-variant(bronze, $bronze-color);
    @include badge-variant(silver, $silver-color);
    @include badge-variant(gold, $gold-color);
    @include badge-variant(diamond, $diamond-color);
}
