/* Name: Docs

Contents:
	01. Doc Layout
========================================================================= */
$ol-bullet-size                                    : 20px;


/*  ========================================================================
01. Doc Layout
========================================================================= */

.docs {
    position: relative;
    height: calc(100vh - #{$header-height});

    &__sidebar,
    &__main {
        height: calc(100vh - #{$header-height});
        overflow: auto;
    }

    &__sidebar {
        @extend .col-sm-3;
        padding-top: $m-space;
        padding-bottom: $m-space;
    }

    &__main {
        @extend .col-sm-9;
        @extend .no-gutter;
        padding-top: $grid-gutter-part;
        padding-bottom: $m-space;
        background-color: rgba($bg-color-3, 0.6);
        float: right;
    }

    .doc-section {
        padding: $m-space 0;
    }

    .doc-disclaimer {
        padding: $xxs-space 0;
        font-size: $font-size-sm;
        font-style: italic;

        &:before {
            content: "* ";
        }
    }

    .callout {
        padding: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: 1px solid $text-color-muted;
        border-left-width: $border-size-lg;
        border-radius: $border-radius;

        &-warning {
            border-left-color: $warning-color;
        }
    }

    article {
        border-top: $border-size-sm solid $brand-primary;
        padding: $grid-gutter-width;
        background-color: $bg-color-2;
        margin-top: $grid-gutter-width;

        header,
        section {
            border-bottom: $border-size solid $divider-color;
        }

        header {
            padding-top: $xs-space;
            padding-bottom: $m-space;
        }

        section {
            padding: $m-space 0;

            &:last-of-type {
                border-bottom: 0;
            }

            section:last-of-type {
                padding-bottom: 0;
            }

            &.coming-soon {
                opacity: 0.25;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            text-transform: initial;
        }

        h1 {
            color: $text-color-primary;
        }

        h2 {
            font-size: $h3-font-size;
            color: $text-color-primary;
        }

        h3 {
            font-weight: $font-weight-regular;
            font-size: $h4-font-size;
            color: $text-color-primary;
        }

        p, ul, ol {
            padding: $grid-gutter-part 0 0;
            color: rgba(#fff, 0.85);
        }

        ol {
            counter-reset: a;
            list-style: none;

            li {
                padding-top: $xxs-space;
                padding-bottom: $xxs-space;
                padding-left: $ol-bullet-size + $xs-space;
                position: relative;
            }
        }

        ol > li:before {
            @include aspect-ratio(1,1);
            width: $ol-bullet-size;
            counter-increment: a;
            content: counter(a);
            background: $bg-color-4;
            color: $text-color-primary;
            font-size: 13px;
            font-weight: $font-weight-semibold;
            line-height: 1;
            text-align: center;
            padding: 4px 0;
            border-radius: 10px;
            position: absolute;
            left: 0;
        }

        table {
            margin-top: $grid-gutter-part;

            thead tr {
                text-align: left;
            }

            th, td {
                padding: $xxs-space 0;
            }

        }
    }
}

.docs-nav {
    @extend .btn-icon;
    line-height: 1;

    &__heading {
        display: block;
        padding: $xs-space 0 $xxs-space;
        color: $text-color-primary;
    }

    &__list {
        @extend %list-unstyled;
        padding-left: 25px;
        padding-bottom: $xs-space;
    }

    &__link {
        display: block;
        padding: $xxs-space 0;
        color: $text-color-secondary;

        &:hover,
        &.active {
            font-weight: $font-weight-semibold;
        }

        &.active {
            color: $brand-primary;
        }

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}


/*  ========================================================================
01.1 Doc Components
========================================================================= */

code,
.keybinding {
    padding: 2px 4px;
    border-radius: $border-radius;
    font-family: $code-font-face;
}

code {
    background-color: rgba($brand-secondary, 0.10);
    color: $brand-secondary;
}

.keybinding {
    background-color: rgba($brand-primary, 0.10);
    color: $brand-primary;
}


/*  ========================================================================
01.2 Doc Components
========================================================================= */

.dw-positions {
    @extend .row;
    @extend %list-unstyled;
    text-align: center;

    &__item {
        @extend .col-sm-4;
    }

    &__circle {
        @include aspect-ratio(1,1);
        max-width: 85px;
        border-width: $border-size;
        border-style: solid;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        cursor: default;

        @mixin dw-positions($language, $color) {
            &--#{$language} {
                border-color: $color;
                color: $color;
            }
        }

        @include dw-positions(html, $html-color);
        @include dw-positions(css, $css-color);
        @include dw-positions(js, $js-color);
    }


    &__items {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: $font-weight-bold;
    }

    .lang { display: none; }

    &__title {
        padding-top: 20px;
        font-weight: $font-weight-bold;
    }

    &__role {
        color: $text-color-secondary;
    }

    &__item:hover {
        .lang { display: inline-block; }
        .symbol { display: none; }
    }
}

.doc-communications {
    .fa,
    img {
        opacity: 0.88;
    }

    .fa {
        font-size: 48px;
    }

    img {
        display: block;
        height: 48px;
        margin: 0 auto;
    }
}

.doc-tools {
    @extend %list-unstyled;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0 !important;

    &__section {
        padding-bottom: $xs-space !important;
    }

    &__item {
        flex-shrink: 0;
        width: 48%;
        margin: 0 0 $grid-gutter-width;
    }

    &__link {
        display: flex;
        align-items: center;
        height: 100px;
        padding: 0 $xs-space;
        background-color: lighten($bg-color-2, 3%);
        box-shadow: 0 1px 5px 0 rgba($bg-color-4, 0.47), 0 7px 17px 0 rgba($bg-color-4, 0.41);
        transition: box-shadow 0.2s ease-in-out;

        &:hover {
            box-shadow: 0 1px 5px 0 rgba($bg-color-4, 0.57), 0 7px 17px 0 rgba($bg-color-4, 0.71);
        }
    }

    &__circle {
        width: 50px;
        height: 50px;
        margin-right: $grid-gutter-part;
        background-color: $bg-color-3;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        .fa {
            @extend %absolute-center;
            font-size: 50px * 0.4;
            color: $text-color-secondary;
        }
    }

    &__main {
        flex: 1;
        line-height: 1.4;
    }

    &__title {
        font-family: $alt-font-face;
        margin-bottom: $xxxs-space;
        font-weight: $font-weight-bold !important;
        font-size: $h5-font-size !important;
        color: $brand-primary !important;
    }

    &__desc {
        padding-top: 0 !important;
        font-size: $font-size-base;
        color: $text-color-secondary;
    }
}


.doc-warning {
    border-top: 1px solid $warning-color;
    margin-top: $grid-gutter-part;
    background-color: rgba($warning-color, 0.025);
    padding: $s-space;

    &__title {
        margin-bottom: $xxs-space;
        font-weight: $font-weight-bold;
    }

    p {
        margin-bottom: $grid-gutter-width;
        font-size: $font-size-sm;
        line-height: 1.3;
    }
}
