.error-pg {
    padding: $l-space 0 $xl-space;

    &__img {
        max-width: 250px;
        margin: 0 auto;
    }

    &__main {

    }

    &__code {
        font-size: $display1-size;
    }

    &__title {
        margin-bottom: $xxs-space;
    }

    &__desc {
        margin-bottom: $ms-space;
        font-size: $p-lead-font-size;
        color: $text-color-secondary;
    }
}
