/* Name:			Footer

Contents:
	01.

Variables
$file__element--property_modifier
============================================================================ */



/*  ========================================================================
01. Footer
======================================================================== */

.footer {
    background-color: $bg-color-4;
}

.newsletter-box {
    padding: $m-space 0;
    border-top: $border-size-sm solid $brand-secondary;
    background-color: $bg-color-3;
    text-align: center;

    &__title {
        margin-bottom: $s-space;
    }

    &__btn {
        margin-top: $s-space;
    }
}

.sitemap {
    display: flex;
    justify-content: space-between;
    padding: $m-space 0;

    @include breakpoint(xs) {
        display: block;
        text-align: center;
    }

    &__list {
        @extend %list-unstyled;
        min-width: 15%;
        font-size: $font-size-base;

        @include breakpoint(sm) {
            margin-bottom: $m-space;
        }
    }

    &__list-item {
        margin-bottom: $xxs-space;

        &:first-of-type {
            border-bottom: 1px solid $brand-secondary;
            padding-bottom: $xxs-space;
            margin-bottom: $xs-space;
            text-transform: uppercase;
        }
    }

    &__link {
        color: $text-color-secondary;
        &:hover { text-decoration: underline; }
        &.disabled {
            pointer-events: none;
            color: $text-color-muted;
        }
    }
}

.footer-bottom {
    border-top: 1px solid $divider-color;
    padding-top: $s-space;
}

.footer-socials {
    @extend %list-unstyled;
    text-align: center;
    font-size: 0;

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: $grid-gutter-part;
        font-size: $h4-font-size;
        color: $text-color-muted;
        transition: color 0.2s ease-in-out;

        &:hover .fa-twitter {
            color: $twitter-color;
        }

        &:hover .fa-facebook {
            color: $facebook-color;
        }

        &:hover .fa-google-plus {
            color: $google-color;
        }

        &:hover .fa-reddit {
            color: $reddit-color;
        }

        &:hover .fa-twitch {
            color: $twitch-color;
        }

        &:hover .fa-discord {
            color: $discord-color;
        }

        &:hover .fa-youtube {
            color: $youtube-color;
        }

        @include breakpoint(xs) {
            padding: $xs-space;
        }
    }
}

.footer-legal {
    padding: $xs-space 0 $grid-gutter-width;
    text-align: center;

    &__copy {
        display: block;
        font-size: $font-size-sm;
        color: $text-color-muted;

        &:nth-child(2) { font-size: $font-size-xs; }
    }
}
