/* Name:			Header

Contents:
	01. Mobile
	02. Tablet
	03. Logo
	04. Navbar
		04.1 Navbar Active
	05. Search
	06. User details

Variables
============================================================================ */
$mobile-nav-width                                   : 300px;

/*  ========================================================================
01. Header
========================================================================= */

.header {
    height: $header-height;
	background: #000;
	transition: all 0.6s;

	&__inner {
        @extend %flex-justify;
        height: 100%;
	}

    .logo,
    .burger-menu {
        vertical-align: middle;
    }

    .logo {
        display: inline-block;
        margin-right: $s-space;

		img {
            max-height: 40px;
        }

        &-full {
            @include breakpoint(sm) {
                display: none;
            }
        }

        &-icon {
            display: none;

            @include breakpoint(sm) {
                display: inline-block;
            }
        }
	}
}


/*  ========================================================================
02. Nav
========================================================================= */

.nav {
    @extend %list-unstyled;
    @extend %align-middle;

    &__item {
        @extend %align-middle;
        padding: $btn-padding-y 0;
        position: relative;
    }

    &__link {
        display: inline-block;
        padding: $btn-padding-y ($btn-padding-x / 2);
        margin: $xxs-space 0;
        line-height: $btn-line-height;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $font-size-base;
        color: $text-color-secondary;
        font-family: $alt-font-face;

        &.active {
            color: $base-font-color;

            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                background-color: $brand-primary;
                bottom: 0;
                left: 0; right: 0;
            }
        }
    }

    &-main {
        @include breakpoint(md) {
            display: none;
        }
    }
}


/*  ========================================================================
03. Mobile
========================================================================= */

.burger-menu {
    display: none;
    padding: $xs-space $xs-space $xs-space 0;
    margin-right: $xs-space;

    @include breakpoint(md) {
        display: inline-block;
    }

    &:before {
        @extend .fa;
        content: $fa-bars;
        font-size: $h3-font-size;
    }

    &:hover,
    &:focus {
        color: $brand-primary;
    }
}

.mobile-nav {
    height: 100%;
    width: $mobile-nav-width;
    padding: $grid-gutter-width 0;
    background-color: $bg-color-3;
    position: fixed;
    top: 0; left: 0;
    z-index: $zindex-navbar-fixed;
    transition: all 300ms ease-in-out;
    transform: translateX($mobile-nav-width * -1);
    display: none;

    @include breakpoint(sm) {
        display: inline-block;
    }

    &__header {
        margin-bottom: $m-space;
        text-align: center;
    }

    .logo {
        display: block;

        img {
            display: inline-block;
            width: 60%;
        }
    }

    &__link {
        @extend .btn-icon;
        display: block;
        color: #fff;
        padding: $s-space $grid-gutter-width;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;

        &:hover,
        &:focus {
            background-color: $bg-color-2;
        }
    }

    &__account {
        border-top: 1px solid $divider-color;
        padding: $grid-gutter-width;
        margin-top: $grid-gutter-part;
    }

    &__overlay {
        @extend %fixed-overlay;
        background-color: rgba(#000, 0.85);
        z-index: $zindex-navbar-fixed - 1;
        display: none;

        &.active {
            display: block;
        }
    }

    &.active {
        display: block;
        transform: translateX(0);
    }
}

.user-menu {
    cursor: pointer;
    user-select: none;

    @include breakpoint(sm) {
        display: block;
    }
}


/*  ========================================================================
05. User Avatar
========================================================================= */

.user-avatar-wrapper {
    display: inline-block;
    width: 50px;
    &.xs { width: 25px; }
    &.sm { width: 38px; }
    &.md { width: 50px; }
    &.lg { width: 70px; }
    &.xl { width: 140px; }
}

.user-avatar {
    @include aspect-ratio(1,1);
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: $bg-color-4;
    background-image: url('~/assets/img/default-avatar.png');
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: $font-size-base;
}

.user-group {
    .user-avatar,
    &__name {
        @extend %align-middle;
    }

    &__name {
        margin-left: $xs-space;
        margin-right: $xs-space;
        font-weight: $font-weight-bold;
        line-height: 1;
    }

    &__meta {
        display: block;
        margin-top: $xxxs-space;
        font-size: $h6-font-size;
        color: $p-color;
    }
}
