/*  ========================================================================
03. Mobile
========================================================================= */
.user-menu {
    cursor: pointer;
    user-select: none;

    @include breakpoint(sm) {
        display: block;
    }
}


/*  ========================================================================
05. User Avatar
========================================================================= */

.user-avatar-wrapper {
    @extend %align-middle;
    width: 50px;
    &.xs { width: 25px; }
    &.sm { width: 38px; }
    &.md { width: 50px; }
    &.lg { width: 70px; }
    &.xl { width: 140px; }
}

.user-avatar {
    @include aspect-ratio(1,1);
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: $bg-color-4;
    background-image: url('~/assets/img/default-avatar.png');
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: $font-size-base;
}

.user-group {
    .user-avatar,
    &__name {
        @extend %align-middle;
    }

    &__name {
        margin-left: $xs-space;
        margin-right: $xs-space;
        font-weight: $font-weight-bold;
        line-height: 1;
    }

    &__meta {
        display: block;
        margin-top: $xxxs-space;
        font-size: $h6-font-size;
        color: $p-color;
    }
}
