/* ==========================================================================
 03. Components
========================================================================== */

.mod-card {
    @extend %clear;
    padding: $grid-gutter-width;
    background-color: $bg-color-2;

    &__header {
        @extend %flex-justify;
    }
}

.mod-form {
    max-width: 500px;
}

.mod-objectives {
    display: flex;

    &__input {
        flex: 1;
    }
}
