/*  ========================================================================
Grid
========================================================================== */
$grid-breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
);

$container-max-widths: (
    xs: 540px,
    sm: 720px,
    md: 960px,
    lg: 1140px,
);

$grid-columns: 12;
$grid-gutter-width: 15px;

/*  ========================================================================
Main Colors
========================================================================== */
$brand-primary: #00c9ff;
$brand-secondary: #ff007d;

$bg-color-1: #383b48;
$bg-color-2: #1e202c;
$bg-color-3: #14161f;
$bg-color-4: #0b0c11;

$text-color-primary: #cdd3e9;
$text-color-secondary: #a2a2a9;
$text-color-muted: #484b5b;
$text-color-disabled: rgba($text-color-primary, 0.22);
$divider-color: rgba($text-color-primary, 0.12);

$base-font-color: rgba(#fff, 0.9);

/* ==========================================================================
Miscellaneous Colors
========================================================================== */
$black-color: #0a0b10;

$success-color: #2ecc71;
$warning-color: #f1c40f;
$danger-color: #e74c3c;
$info-color: #3498db;

$coins-color: #f8bf3f;
$bonus-color: #ffb04a;

$css-color: #0ebeff;
$html-color: #ff7200;
$js-color: #f8dc3d;

$bronze-color: #a57e12;
$silver-color: #e0e5e8;
$gold-color: #f9d369;
$platinum-color: #e5e4e2;
$diamond-color: #69cbf9;

$facebook-color: #0b5998;
$twitter-color: #4099ff;
$youtube-color: #e52d27;
$reddit-color: #ff4500;
$twitch-color: #6441a5;
$discord-color: #7289da;

/* ==========================================================================
Spacing
========================================================================== */
$base-space: 40px;

$xxxs-space: $base-space / 16;
$xxs-space: $base-space / 8;
$xs-space: $base-space / 4;
$s-space: $base-space / 2;
$m-space: $base-space;
$l-space: $base-space * 2;
$xl-space: $base-space * 4;
$xxl-space: $base-space * 8;
$xxxl-space: $base-space * 16;

$sm-space: $base-space - $xs-space;
$ms-space: $base-space + $s-space;
$ml-space: $base-space + $l-space;
$sxs-space: $s-space - $xxs-space;

/* ==========================================================================
Typography
========================================================================== */
$base-font-face: 'Roboto', sans-serif;
$alt-font-face: 'Montserrat', sans-serif;
$code-font-face: monospace;

$font-weight-book: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-heavy: 800;

$link-color: $brand-primary;

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;
$display5-size: 2.5rem;
$display6-size: 2rem;

$border-radius: 5px;
$border-radius-sm: 3px;

$font-size-base: 1em;
$font-size-xl: $font-size-base * 1.4;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
$font-size-xs: $font-size-base * 0.75;

/* ==========================================================================
Z-index
========================================================================== */
$zindex-max: 2147483647;
$zindex-dropdown-backdrop: 990;
$zindex-navbar: 1000;
$zindex-dropdown: 1000;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
$zindex-navbar-fixed: 1030;
$zindex-navbar-sticky: 1030;
$zindex-modal-bg: 1040;
$zindex-modal: 1050;

/* ==========================================================================
Globals
========================================================================== */
$header-height: 70px;
$header-offset: 40px;

$border-size: 2px;
$border-size-sm: 1px;
$border-size-lg: 3px;

$user-avatar-offset: 40px;
