.blog-list {
    @extend .row;

    &__item {
        display: block;
        margin-bottom: $grid-gutter-width;
    }

    &__cover {
        height: 200px;
        background-size: cover;
        background-position: center;
        background-color: lighten($bg-color-2, 5%);
    }

    &__main {
        border-top: $border-size-sm solid $brand-secondary;
        padding: $s-space;
        background-color: $bg-color-2;
        transition: background-color 200ms ease-in;
    }

    &__title {
        height: $h4-font-size * 4;
        font-weight: $font-weight-semibold;
        font-size: $h4-font-size;
        color: rgba(#fff, 0.95);
    }

    &__meta {
        color: $text-color-secondary;
    }

    &__item:hover &__main {
        background-color: darken($bg-color-2, 5%);
    }
}


/*************************
Blog Post
*************************/

.blog-banner {
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;

    &:before {
        @extend %absolute-overlay;
        content: "";
        background-color: rgba(#000, 0.3);
    }
}

.blog-read {
    margin-top: -($xl-space + $l-space);
    padding: $m-space $s-space $l-space;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.84);
    line-height: 1.6;
    position: relative;
    z-index: 2;

    h1, h2, h3, h4, h5, h6,
    p, a, b, i, em, strong, span {
        color: inherit;
    }

    p {
        margin-bottom: $grid-gutter-width;
        font-size: $p-lead-font-size;
    }

    &__header {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        margin-bottom: $grid-gutter-width;
        font-size: $display4-size;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    &__meta {
        margin-bottom: $grid-gutter-width;
    }

    &__author {
        margin-top: $xs-space;
        font-weight: $font-weight-bold;
    }

    &__main {
        max-width: 740px;
        margin: 0 auto;
    }


}
