/* ==========================================================================
 LargeGameDetail.vue
========================================================================== */
.games-roster {
	position: relative;

	&__positions {
        @extend %absolute-center-x;
        height: 65px;
        top: 65px + $xs-space;
		list-style: none;
        text-align: center;


		li {
            height: 50px + ($xs-space * 2) + ($border-size * 2);
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			font-size: 14px;
			font-weight: bold;
		}

		.html-color { color: $html-color; }
		.css-color { color: $css-color; }
		.js-color { color: $js-color; }
	}
}

.games-banner {
	background-size: cover;
	padding: $m-space $s-space;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__meta {
        line-height: 1;
    }

	&__date {
        display: block;
        margin-bottom: $xs-space;
    }

    &__gamemode,
    &__versus {
        @extend %align-middle;
        line-height: 1;
    }

	&__gamemode {
        @extend .display-5;

        &:after {
            @extend %align-middle;
            content: "";
            height: 2.5rem;
            width: 1px;
            background-color: $text-color-muted;
            margin: 0 $xs-space 0 $xxs-space;
        }
    }

    &__versus {
        font-size: $h4-font-size;
    }

	&.classic { background-image: url('~/assets/img/classic-bg.jpg'); }
	&.zen-garden { background-image: url('~/assets/img/zen-garden-bg.jpg'); }
	//&.coffee-run { background-image: url('~/assets/img/coffee-run-bg.jpg'); }
}

.games-team {

	&__header {
		border-bottom-width: $border-size;
		border-bottom-style: solid;
		text-transform: uppercase;
	}

	&__header-inner {
        @extend %flex-justify;
		padding: 0 $s-space;
	}

	&__name {
        font-weight: $font-weight-bold;
        font-size: 24px;
	}

	&__score {}

	&__points,
	&__win {
		vertical-align: middle;
	}

	&__points {
		font-size: 42px;
        font-weight: bold;
        text-shadow: 0 0 20px rgba(#fff, 0.6);
        color: #fff;
	}

	&__win {
		padding: 0 $s-space;
		color: $success-color;
		font-weight: bold;
		font-size: 18px;
    }

    // Variations
    @mixin games-team-variant($team, $color, $direction) {
        &.#{$team} &__header {
            border-color: $color;
            background: linear-gradient(
                to left,
                rgba($color, 0.3),
                transparent
            );
        }
        &.#{$team} &__name { color: $color; }
        &.#{$team} .games-player__avatar { border-color: $color; }

        &.mirror.#{$team} &__header {
            background: linear-gradient(
                to $direction,
                rgba($color, 0.3),
                transparent
            );
        }
        &.mirror.#{$team} .games-player {
            display: block; // undos flexbox
            text-align: $direction;
        }
    }

    @include games-team-variant(team-blue, $brand-primary, left);
    @include games-team-variant(team-red, $brand-secondary, right);
}

.games-players {
	padding: $xs-space;
}

.games-player {
    @extend %flex-justify;
	padding: $xs-space 0;

	&__avatar,
	&__name {
		@extend %align-middle;
	}

	&__avatar {
		border: $border-size solid transparent;
		border-radius: 50%;
	}

	&__name {
        padding: 0 $xs-space;
        font-size: $h4-font-size;
    }

    &__position {

    }
}

.games-resources {
	@extend %flex-justify;
	padding: $s-space;
}

.obj-list {

	&__item {
        @extend %flex-justify;
        width: 100%;
		padding-bottom: $s-space;
        text-align: center;

        &.bonus { color: $bonus-color; }
	}

	&__square {
        width: 30px;
        height: 30px;
        border: 5px solid #23252C;

        &.team-blue.active { background-color: $brand-primary; }
        &.team-red.active { background-color: $brand-secondary; }
    }

    &__item.bonus &__square.active {
        background-color: $bonus-color;
    }
}

/* ==========================================================================
 ScoreSection Component for VoteBox & LargeGameDetail.vue
========================================================================== */
.sub-score-section {
    padding: 0 $s-space;
    text-align: center;
}

.sub-score-header {
    @extend %flex-justify;
    border-top: 1px solid $divider-color;
    padding: $xs-space;
    margin: $grid-gutter-width auto $s-space;
    position: relative;

    &__title {
        @extend %absolute-center;
        display: block;
        text-transform: uppercase;
        font-family: $alt-font-face;
        font-weight: $font-weight-semibold;
        color: $text-color-secondary;
    }

    &__points {
        display: flex;
        align-items: center;
        font-size: $h1-font-size;
        font-weight: $font-weight-bold;

        &.aced:after {
            content: 'ACED';
            border: 1px solid $bonus-color;
            padding: $xxxs-space $xxs-space;
            margin: 0 $grid-gutter-part;
            font-weight: $font-weight-regular;
            font-size: $font-size-xs;
            color: $bonus-color;
        }

        &.team-blue { color: $brand-primary; }
        &.team-red { color: $brand-secondary; }
    }

    &__theme {
        margin-bottom: $m-space;
        font-weight: $font-weight-regular;
    }

    &.theme {
        margin-bottom: 0;
    }

    &.theme &__title {
        @include clear-position;
        width: 100%;
        padding: $xs-space 0;
    }
}
