/* Name:			The Leaderboards Page

Contents:
	01. Main

Variables
$file__element--property_modifier
========================================================================== */



/* ==========================================================================
	01. Main
========================================================================== */

.table {
    width: 100%;
	text-align: left;

	thead {
		text-transform: uppercase;
        color: $text-color-secondary;
	}

	tbody {
		font-weight: bold;

		tr {

			&:hover {
				background-color: lighten($bg-color-1, 5%);
			}
		}
	}

	th,
	td {
        padding: $grid-gutter-part $grid-gutter-width;
		border-bottom: 1px solid $divider-color;
    }

	th {
        padding-top: $grid-gutter-width;
		padding-bottom: $sm-space;
    }
}


.leaderboard {
	&__rank {
		.rank__icon {
			padding-left: 20px;
			font-size: 15px;
			&--increase { color: $success-color; }
			&--neutral { color: $blue-color; font-size: 12px; }
			&--decrease { color: $danger-color; }
		}
	}

	&__avatar,
	&__user {
		vertical-align: middle;
	}

	&__avatar {
		height: 50px;
		width: 50px;
		margin-right: $s-space;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

    &__user {}
}

.ranking-pagination {
    padding: $grid-gutter-part 0;
    text-align: center;

    &__btn,
    &__page {
        @extend %align-middle;
    }

    &__btn {
        @extend .btn;
        @extend .btn-gray;
        padding-top: $xxs-space;
        padding-bottom: $xxs-space;

        &.disabled {
            background-color: transparent;
        }
    }

    &__page {
        padding: 0 $grid-gutter-width;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }
}
