/* Name: Schedule

Contents:
	01. Main

Variables
========================================================================== */

/* ==========================================================================
01. Schedule
========================================================================== */

.schedule-table {
    tbody td {
        &:last-of-type {
            text-align: right;
        }
    }

    @include breakpoint(sm) {
        thead {
            display: none;
        }

        tbody {
            tr {
                display: block;
                padding: $xs-space $grid-gutter-part;
                text-align: center;
                cursor: default;

                &:hover {
                    background-color: transparent;
                }

                &:not(:last-of-type) {
                    border-bottom: 1px solid $divider-color;
                }
            }

            td {
                display: block;
                padding: 0;
                border: none;

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .btn {
            @include breakpoint(sm) {
                margin-top: $xxs-space;
            }
        }
    }
}

.schedule-block {
    &__dow,
    &__date,
    &__time {
        font-weight: $font-weight-semibold;

        @include breakpoint(sm) {
            display: inline-block;
            vertical-align: middle;
            font-size: $font-size-base !important;
            text-transform: uppercase;
        }
    }

    &__dow {
        text-transform: uppercase;
        font-size: $font-size-sm;

        @include breakpoint(sm) {
            &:after {
                content: ",";
                margin-right: $xxs-space;
            }
        }
    }

    &__date {
        font-size: $h4-font-size;
    }

    &__time {
        font-size: $h4-font-size;

        @include breakpoint(sm) {
            &:before {
                content: "@";
                margin: 0 $xxs-space;
            }
        }
    }

    &__duration {
        font-size: $h4-font-size;

        &:after {
            content: " min";
            font-size: $font-size-xs;
        }
    }


    &__show,
    &__title {
        @include breakpoint(sm) {
            display: inline-block;
            vertical-align: middle;
            font-size: $font-size-base !important;
            text-transform: uppercase;
        }
    }

    &__show {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;

        @include breakpoint(sm) {
            &:after {
                content: "-";
                margin: 0 $xxs-space;
            }
        }
    }

    &.tournament &__show {
        color: $bonus-color;

        &:before {
            @extend .far;
            content: $fa-trophy;
            margin-right: $xs-space;
        }
    }
}
